.container {
    /* width: 350;
    height: 80; */
    /* background-color: "red"; */
    padding: "25 140 25 140";
    color: "white";
    font-size: "1.125rem";
    border: 0;
    border-radius: 40;
}

/* .custom {

} */