.container {
    padding: 15px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 50px;
    color: white;
    font-size: 1.125rem;
}