.card_container {
    position: relative;
    width: 350px;
    height: 350px;
    background: red;
    margin: 10px
}

.card_title {
    position: absolute;
    bottom: 10px;
    color: white;
    text-align: center;
}

.container {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    flex-direction: row;
}